<template name="education">
	<article class="col-xs-12">
        <hgroup id="heading">
        	<h1>Education</h1>
            <h2>Stanford University Class of 2006</h2>
        </hgroup>
        <p>Bachelor's Degree in Electrical Engineering with a specialty in Signal Processing</p>
        <p>Worked with <a href="http://en.wikipedia.org/wiki/Chris_Chafe" rel="nofollow" target="_blank">Chis Chafe</a>, the director of Stanford's Center for Computer Research in Music and Acoustics (<a href="http://en.wikipedia.org/wiki/CCRMA#Center_for_Computer_Research_in_Music_and_Acoustics" rel="nofollow" target="_blank">CCRMA</a>).</p>
        <p>Completed my degree while on the road touring as Damian Marley's guitarist.</p>
        
        
        <h3>Research</h3>
        <ul>
        	<li>Circuit Modeling in C++ (two-terms)</li>
        </ul>
        
        <h3>Graduate Classes</h3>
        <ul>
        	<li>Perceptual Audio Coding*</li>
            <li>Signal Processing Methods*</li>
        </ul>
        <p><i>*taken as a 3rd year undergrad</i></p>
        
        <h3>All Programming Courses</h3>
        <ul>
        	<li>Perceptual Audio Coding</li>
            <li>Signal Processing Methods</li>
        	<li>Circuit Modeling in C++</li>
        	<li>Programming Methodology</li>
            <li>Programming Abstractions</li>
        </ul>
        
        <h3>Programming Languages</h3>
        <ul>
        	<li>C/C++</li>
            <li>Moderate Objective-C</li>
            <li>Moderate Ruby</li>
            <li>Some Verilog MIPS</li>
        </ul>
        
        <h3>Language Arts</h3>
        <p>Studied:</p>
        <ul>
        	<li>Spanish (proficient)</li>
            <li>Beginning Japanese & Mandarin</li>
        </ul>
    </article>
    
    <script>
			$("body").removeClass().addClass("calculus");
	</script>
</template>