<template name="webDevDesign">
	<article class="col-xs-12">
        <hgroup id="heading">
        	<h1>Web Development & Design</h1>
            <h2>Aesthetic and Implementation</h2>
        </hgroup>
        <p>I have been working as a freelancing web consultant for the past 5 years.  In that time I've picked up a few skills, insights, and tricks but there is always more to learn.  I pride myself on satisfying my clients if not exceeding their expectations.</p>
        
        <h3>In The Works</h3>
        <ul>
        	<li>Meteor Staging for <a href="http://jdd.meteor.com/" rel="nofollow" target="_blank">Journal of Drugs in Dermatology</a>.</li>
        </ul>
        
        <h3>Recent Works</h3>
        <ul>
        	<li>Front-end design and development for <a href="http://pedacne.com/" rel="nofollow" target="_blank">PedAcne</a>.</li>
            <li>Front-end design and development for <a href="http://devjb1.sanovaworks.com/ETASRedesign/IMIR/home.html" rel="nofollow" target="_blank">Internal Medicine In-Review</a>.*</li>
        </ul>
        <p><i>*Going live soon and staging is password protected. I can provide credentials for those interested in viewing.</i></p>
        
        <h3>GitHub</h3>
        <p>My <a href="https://github.com/thegraphicsgarden" rel="nofollow" target="_blank">GitHub</a> account.</p>
        
        <h3>Skills</h3>
        <ul>
        	<li>HTML5</li>
            <li>CSS3<ul>
            	<li>CSS Extension Languages: SASS and LESS</li></ul>
            </li>
            <li>Responsive Design<ul>
            	<li>Bootstrap and Foundation</li></ul>
            </li>
            <li>JQuery</li>
            <li>MeteorJS</li>
            <li>Rails</li>
            <li>Git/GitHub</li>
            <li>Some Objective-C (mobile)</li>
            <li>Some AngularJS</li>
            <li>PHP</li>
            <li>MySQL</li>
        </ul>
    </article>
    
    <script>
			$("body").removeClass().addClass("web-dev-design");
	</script>
</template>