<template name="director">
	<article class="col-xs-12">
        <hgroup id="heading">
        	<h1>Director</h1>
            <h2>Administrative and Educational Experience</h2>
        </hgroup>
        <h3>Administrative Director</h3>
        <p>As a volunteer for a <strong>non-profit</strong> Buddhist Organization in Fort Lauderdale/Miami I spent over 4 years helping a spiritual center flourish in an area notoriously known for its materialism.  Moreover, when the center lost its beloved teacher and many of the supporting cast fled the ship I stepped up to the role of AD and helped bring the center's savings account from <strong>$600 to $10,000</strong> within a year.  I know how to handle pressure, trim the fat, and re-focus limited resources to the areas where they are needed most.</p>
        
        <h3>Education Program Coordinator (EPC)</h3>
        <p>As the center's EPC I oversaw the branding of publicity and helped to promote its services via print, digital, and video media.  Pushing hard locally, with the help of a like-minded peer in Sarasota, FL, to switch from our then dated content management system that was used globally by the organization to Wordpress helped clean up the web pressence of our local branch and eventually sister branches around the world.  Moreover, my accompanying print design was in such high demand that I was giving my photoshop files to temples in other countries so they could change the text into their their regional/national languages to suit their needs.</p>
        
        <h3>Team Player</h3>
        <p>As a freelance web designer and front-end developer I've met all deadlines on time while exceeding expectations in quality.  Furthermore, where and when appropriate my recommendations have often been heard and implemented.  I've had a role in everything from helping to rebrand a company's images and refurbishing a site without compensating a brand to onboarding my own project manager with tools like JIRA (Agile project management software).</p>
        
        <h3>Skills</h3>
        <ul>
        	<li>Patience and Open Mindedness</li>
        	<li>Consistent delegation, follow up, and timely completion of deliverables</li>
            <li>Able to motivate unpaid workers, even through adversity</li> 
        	<li>JIRA Agile Project Management</li>
        	<li>Collabtive Project Management</li>
        </ul>
    </article>
    
    <script>
			$("body").removeClass().addClass("director");
	</script>
</template>